html {
	height: 100%;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
	color: #555555;
	font-family: 'Cardo', serif;
	background-image: url("./images/engagement36.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	padding: 0;
}

.contain {
	padding: 100px 17%;
}

/*** MAIN ***/

#nav-outer {
	height: 100px;
	width: 100%;
	background-color: #fff;
	position: relative;
	text-align: center;
	position: fixed;
	z-index: 1000;
	transition: height 0.7s linear 0s;
	-webkit-box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.07);
	-moz-box-shadow:    0px 1px 7px 0px rgba(50, 50, 50, 0.07);
	box-shadow:         0px 1px 7px 0px rgba(50, 50, 50, 0.07);
}
.nav-inner {
	text-align: center;
	height: 100%;
	width: 100%;
}
.nav-inner a {
	color: #333333;
	text-decoration: none;
	margin-left: 5.3%;
	margin-right: 5.3%;
	height: 61px;
	opacity: 0.7;
	transition: all 0.7s linear;
	cursor: pointer;
}
.nav-inner a:hover {
	opacity: .9;
	text-shadow: 1px 1px 1px rgba(190, 190, 190, 0.9);
}
#logo {
	width: 50px;
	opacity: 0.55;
	transition: opacity 0.7s linear;
	margin-top: 20px;
    margin-bottom: -26px;
    cursor: pointer;
	transition: all 0.7s linear 0s;
}
#logo:hover {
	opacity: .8;
}
#shine {
	position: absolute;
    top: 11px;
    left: 48.7%;
	width: 15px;
	height: 15px;
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
#logo:hover + #shine {
	-webkit-animation: shine 1.5s linear;
}
#flowers {
	width: 25%;
	height: 87%;
	position: absolute;
	top: 62%;
	left: 35.6%;
	right: 36%;
	margin: 0 auto;
	transition: width 0.5s linear 0s;
}

.body {
	width: 100%;
	transition: opacity 1.7s linear 0s;
	height: 730px;
}
#heading {
	color: #fff;
	text-align: center;
	padding-top: 27%;
	line-height: 0.3;
	text-shadow: 2px 2px 8px rgba(130, 130, 130, 1);
}
#heading h2 {
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 2.5em;
}
#heading p {
	font-size: 1.3em;
    letter-spacing: 8.5px;
}
.countdown {
	display: flex;
	height: 270px;
	margin: -20px 60px 0 60px;
}
.time {
	flex: 1;
	justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color:white;
    text-align: center;
    text-shadow: 3px 3px 8px rgba(130, 130, 130, 1);
}
.time h1 {
	font-size: 8em;
	line-height: 0;
	opacity: 0.85;
}
.time p {
	margin-top: -10px;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 1.1em;
}

/*** PHOTOS ***/

.photos {
	width: 100vw;
	background-color: #fff;
}

.photo {
	margin: 1.666667%;
	cursor: pointer;
	overflow: hidden;
	width: 30%;
    height: 280px;
    padding: 0 !important;
    display: none;
}

.shown {
	display: block;
}

.photo a {
	cursor: pointer;
}

.photo img {
	width: 101%;
	min-height: 280px;
	transition: transform 500ms ease;
}

.photo img:hover {
	transform: scale(1.1);
}

.pages {
	margin-top: 40px;
	text-align: center;
}

.active {
	color: #9E9E9E;
	text-decoration: underline;
}

.pages a {
	padding: 7px;
	cursor: pointer;
	z-index: 1000;
}

/*** RSVP ***/

.rsvp {
	background-image: url("./images/engagement18.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 670px;
	text-align: center;
	padding: 70px 18%;
}

.rsvp-form {
	height: 100%;
    background: rgba(250,250,250,0.3);
    border-radius: 5px;
    padding: 25px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	position: relative;
}

.rsvp-white {
	height: 100%;
    background: #fff;
    border: 2.5px solid rgba(206,157,134,0.7);
    border-radius: 5px;
    padding: 40px 50px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

.rsvp-form h1 {
	margin-top: 0;
}

.rsvp-form .container {
	margin-top: 10px;
	padding: 30px 9% 0 9%;
}

.rsvp-form label:first-of-type {
	display: block;
}

.rsvp-form label {
	font-weight: bold;
}

input[type="radio"] {
	margin: 30px 12px 40px;
}

select {
	margin: 30px 12px 0px;
}

.col-sm-6 {
	box-sizing: border-box;
}

.rsvp-form .col-sm-12 {
	text-align: center;
	margin-top: 20px;
}

input[type="text"], input[type="email"], textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: #fff;
    margin: 15px 0;
    height: 40px;
    font-size: 1em;
    font-family: Cardo, serif;
    text-align: center;
}

button {
  margin-top: 20px;
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:30px;
  background: rgb(141, 173, 228);
  border: 2px solid rgb(141, 173, 228);
  color:#fff;
  letter-spacing:1px;
  text-shadow:0;
  font-size:12px;
  font-weight:bold;
}

button:hover {
  opacity: 0.88;
}

.rsvp-form img {
	position: absolute;
	width: 95px;
	bottom: 24px;
}

.rsvp-form .one {
	left: 2px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.rsvp-form .two {
	right: 2px;
}

/*** INFO ***/

.info {
	width: 100%;
	background-color: #fff;
}

/*** REGISTRY ***/

.registry {
	background-image: url("./images/engagement17.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 700px;
	color: #fff;
	text-align: center;
	background-position: center;
}

/*** KEYFRAMES ***/

@keyframes shine {
    0%   {transform:rotate(0deg);opacity: 0;}
    50%  {opacity: 1;width: 20px;}
    100% {transform:rotate(360deg);opacity: 0;}
}

/*** MEDIA QUERIES ***/

@media (max-width: 980px) {
	#heading {
		padding-top: 43%;
	}
}

@media (max-width: 620px) {
	.container {
		padding: 100px 50px;
	}
	.nav-inner a {
		margin-left: 10px;
		margin-right: 10px;
	}
	#flowers {
		top: 98%;
		width: 34%;
		left: 33%;
	}
	.time h1 {
		font-size: 5em;
	}
	.countdown {
		height: 100px;
		margin: -20px 20px 0 20px;
	}
	#heading {
		padding-top: 60%;
	}
	#heading p {
		margin-bottom: 95px;
	}
	.registry {
	background-image: url("./images/engagement17-phone.jpg");
}
@media (max-width: 400px) {
	#heading {
		padding-top: 70%;
	}
}