html {
	padding: 0;
	height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
}

body {
	height: 100%;
	margin: 0;
	color: #555555;
	font-family: 'Hind', serif;
	background-image: url("./images/belmond2.jpg");
	-webkit-background-size: cover!important; 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-x: center;
	background-position-y: 30px;
	padding: 0;
}

.contain {
	padding: 100px 17%;
}

h1 {
	font-family: 'Neuton', serif;
	font-weight: normal;
}

/*** MAIN ***/

#nav-outer {
	height: 100px;
	width: 100%;
	background-color: #fff;
	position: relative;
	text-align: center;
	position: fixed;
	z-index: 1000;
	transition: height 0.7s linear 0s;
	-webkit-box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.07);
	-moz-box-shadow:    0px 1px 7px 0px rgba(50, 50, 50, 0.07);
	box-shadow:         0px 1px 7px 0px rgba(50, 50, 50, 0.07);
}
.nav-inner {
	text-align: center;
	height: 100%;
	width: 100%;
}
.nav-inner a {
	color: #333333;
	text-decoration: none;
	margin-left: 5.3%;
	margin-right: 5.3%;
	height: 61px;
	opacity: 0.7;
	transition: all 0.7s linear;
	cursor: pointer;
}
.nav-inner a:hover {
	opacity: .9;
}
#logo {
	width: 50px;
	opacity: 0.55;
	transition: opacity 0.7s linear;
	margin-top: 20px;
    margin-bottom: -26px;
    cursor: pointer;
	transition: all 0.7s linear 0s;
}
#logo:hover {
	opacity: .8;
}
#shine {
	position: absolute;
    top: 11px;
    left: 48.7%;
	width: 15px;
	height: 15px;
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
#logo:hover + #shine {
	-webkit-animation: shine 1.5s linear;
}
#flowers {
	width: 24%;
	position: absolute;
	top: 58%;
	left: 38%;
	margin: 0 auto;
	transition: top 0.5s linear 0s;
}

.body {
	width: 100%;
	transition: opacity 1.7s linear 0s;
	height: 100vh;
}
#heading {
	color: #fff;
	text-align: center;
	padding-top: 27%;
	line-height: 0.3;
	text-shadow: 2px 2px 8px rgba(130, 130, 130, 1);
}
#heading h2 {
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 2.5em;
}
#heading p {
	font-size: 1.3em;
    letter-spacing: 8.5px;
}
.countdown {
	height: 270px;
	margin: -20px 60px 0 60px;
}
.time {
    color:white;
    text-align: center;
    text-shadow: 3px 3px 8px rgba(130, 130, 130, 1);
    width: 33.3333%;
    float: left;
}
.time h1 {
	font-size: 8em;
	line-height: 0;
	opacity: 0.85;
}
.time p {
	margin-top: -10px;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 1.1em;
}

/*** PHOTOS ***/

.photos {
	width: 100vw;
	background-color: #fff;
}

.photos h1 {
	font-family: 'Neuton', serif;
}

.photo {
	margin: 1.666667%;
	cursor: pointer;
	overflow: hidden;
	width: 30%;
    height: 280px;
    padding: 0 !important;
}

.shown {
	display: block;
}

.photo a {
	cursor: pointer;
}

.photo img {
	width: 101%;
	min-height: 280px;
	transition: transform 500ms ease;
}

.photo img:hover {
	transform: scale(1.1);
}

.pages {
	margin-top: 40px;
	text-align: center;
}

.active {
	color: #9E9E9E;
	text-decoration: underline;
}

.pages a {
	padding: 7px;
	cursor: pointer;
	z-index: 1000;
}

/*** RSVP ***/

.rsvp {
	background-image: url("./images/engagement13.jpg");
	-webkit-background-size: cover!important; 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-x: center;
	background-position-y: 30px;
	text-align: center;
	padding: 70px 16%;
}

.rsvp-form {
	height: 100%;
    background: rgba(250,250,250,0.3);
    border-radius: 5px;
    padding: 25px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	position: relative;
}

.rsvp-white {
	height: 100%;
    background: #fff;
    border: 1px solid rgba(193,193,193,0.6);
    border-radius: 5px;
    padding: 40px 10%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

.rsvp-form h1 {
	margin-top: 0;
	font-family: 'Neuton', serif;
}

.rsvp-form .container {
	margin-top: 10px;
	padding: 30px 9% 0 9%;
}

.rsvp-form label:first-of-type {
	display: block;
}

.rsvp-form label {
	font-weight: bold;
}

.radio {
	margin: 10px 12px 15px;
}

select {
	margin: 30px 12px 0px;
}

.col-sm-6 {
	box-sizing: border-box;
}

.rsvp-form .col-sm-12 {
	text-align: center;
	margin-top: 20px;
}

input[type="text"], input[type="email"], textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: #fff;
    margin: 15px 0;
    height: 40px;
    font-size: 1em;
    font-family: Cardo, serif;
    text-align: center;
}

.mt {
	margin-top: 30px !important;
}

button {
  margin: 20px;
  outline:none;
  height: 40px;
  text-align: center;
  width: 170px;
  border-radius:25px;
  background: rgb(167,167,167);
  border: 2px solid rgb(167,167,167);
  color:#fff;
  letter-spacing:1px;
  text-shadow:0;
  font-size:12px;
  font-weight:bold;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-bottom: 40px;
}

button:hover {
  opacity: 0.88;
}

.rsvp-form img {
	width: 100%;
}

.rsvp-form .one {
	left: 2px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.rsvp-form .two {
	right: 2px;
}

#add-guest {
  margin: 20px auto 40px;
  text-align: center;
  border-radius: 25px;
  background: rgb(167,167,167);
  border: 2px solid rgb(167,167,167);
  letter-spacing:1px;
  font-weight:bold;
  cursor: pointer;
  transition: all 0.2s linear;
  background: #fff;
  color:rgb(167,167,167);
  font-size: 12px;
  padding: 8px;
  width: 100px;
}

#add-guest:hover {
	background: rgb(167,167,167);
	color: #fff;
}

.select {
	width: 100%;
	position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 0px;
    background: #FFFFFF;
    color: #333;
    font-size: 12px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    padding: 12px 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: #fff;
    margin: 15px 0;
    height: 40px;
}
.select::-ms-expand {
    display: none;
}
.select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select-arrow {
    position: absolute;
    top: 31px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7B7B7B transparent transparent transparent;
}
.select:hover ~ .select_arrow,
.select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select:disabled ~ .select_arrow {
    border-top-color: #CCCCCC;
}

/*** INFO ***/

.info {
	width: 100%;
	background-color: #fff;
}

.info h1 {
	font-family: 'Neuton', serif;
}

.info .col-sm-4 {
	text-align: right;
	font-weight: bold;
	box-sizing: border-box;
}


.col-sm-8 {
	box-sizing: border-box;
}

.col-xs-6, .col-xs-5, .col-xs-7, .col-xs-4, .col-xs-3, .col-xs-8, .col-xs-9 {
	box-sizing: border-box;
}

/*** REGISTRY ***/

.registry {
	background-image: url("./images/engagement34.jpg");
	-webkit-background-size: cover!important; 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 93vh;
	text-align: center;
	background-position: center;
	box-sizing: border-box;
	color: #fff;
	position: relative;
}

.registry .contain {
	background: rgba(35,35,35, 0.69);	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right:0;
	padding-top: 27vh;
	opacity: 0;
	transition: all 1.3s ease-in 0s;
}

.registry  h1 {
	margin-top: 0;
}

.registry button {
  outline:none;
  height: 50px;
  text-align: center;
  width: 160px;
  border-radius:5px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing:1px;
  text-shadow: 0;
  font-size:12px;
  font-weight:bold;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.registry button:hover {
  background: #fff;
  color: rgb(167,167,167);
}

/*** KEYFRAMES ***/

@keyframes shine {
    0%   {transform:rotate(0deg);opacity: 0;}
    50%  {opacity: 1;width: 20px;}
    100% {transform:rotate(360deg);opacity: 0;}
}

/*** MEDIA QUERIES ***/

@media screen and (max-width: 980px) {
	#heading {
		padding-top: 52%;
	}
}

@media screen and (max-width: 768px) {
	.photo {
		height: 200px;
	}
	.photo img {
		min-height: 200px;
	}
	#heading {
		padding-top: 70%;
	}
	.rsvp {
		padding: 70px 11%;
	}
}

@media screen and (max-width: 767px) {
	.contain {
		padding: 50px 11%;
	}
	.nav-inner a {
		margin-left: 10px;
		margin-right: 10px;
	}
	#flowers {
		top: 73%;
	    width: 50%;
	    left: 24.5%;
	}
	.time h1 {
		font-size: 5em;
	}
	.countdown {
		height: 100px;
		margin: -20px 20px 0 20px;
	}
	#heading {
		padding-top: 80%;
	}
	#heading p {
		margin-bottom: 60px;
	}
	.photo {
		height: 125px;
	}
	.photo img {
		min-height: 125px;
	}
	.rsvp {
		padding: 70px 3%;
	}
	.rsvp-form {
		padding: 12px;
	}
	.rsvp-white {
	    padding: 40px 20px;
	}
}
@media screen and (max-width: 576px) {
	.info .col-sm-4 {
		text-align: left;
	}
}
@media screen and (max-width: 400px) {
	.time h1 {
		font-size: 3.5em;
	}
}
@media screen and (max-width: 340px) {
	.nav-inner a {
	    margin-left: 5px;
	    margin-right: 5px;
	}
}